/* ==========================================
   1. ТЁМНАЯ ТЕМА (По умолчанию - кружочки)
   ========================================== */
:root {
    /* Градиентные пятна на фоне */
    --bg-main-1: #4409253c;
    --bg-main-2: #440925;
    --bg-main-3: #0f1117;
    --bg-solid: #000000;

    /* Фоновый узор — Точки */
    --bg-pattern: radial-gradient(#ffffff 1px, transparent 1px);
    --bg-pattern-size: 20px 25px;
    --bg-pattern-opacity: 0.1;

    /* Карточки, модальные окна, профиль */
    --card-bg: rgba(0, 0, 0, 0.32);
    --card-border: rgba(255, 255, 255, 0.26);
    --card-shadow: rgba(0, 0, 0, 0.4);

    /* Текст и свечение */
    --text-main: #ffffff;
    --text-color: #ffffff;
    --text-secondary: #9b6881;
    --text-accent: #d70668;
    --text-hover: rgb(215, 173, 195);
    --glow-color: rgb(205, 10, 108);
    --heading-color: rgba(255, 255, 255, 0.7);
    --links-color: #ffffff;

    --time-color: #5c394a;

    /* Кнопки, формы, сайдбар */
    --btn-bg: #75234551;
    --btn-change-bg: #94034772;
    --input-bg: #440925;
    --sidebar-bg: #000000;
    --sidebar-text: #ffffff;

    --task-text: #ffffff;

    --button-color: #158113;
    --button-bg: #1581137b;

    --chart-bg: #ff1b7e6b;
}

/* ==========================================
   2. СВЕТЛАЯ ТЕМА (Современная стильная сетка)
   ========================================== */
[data-theme="light"] {
    /* Нежное матовое свечение */
    --bg-main-1: rgba(244, 114, 182, 0.12);
    --bg-main-2: #fdf2f8;
    --bg-main-3: #fae8ff;
    --bg-solid: #fafafb;

    /* Фоновый узор — Изящная тонкая сетка (Grid Pattern) */
    --bg-pattern: linear-gradient(to right, rgba(225, 29, 72, 0.05) 1px, transparent 1px),
                  linear-gradient(to bottom, rgba(225, 29, 72, 0.05) 1px, transparent 1px);
    --bg-pattern-size: 32px 32px;
    --bg-pattern-opacity: 1;

    /* Чистые карточки с легким эффектом стекла */
    --card-bg: rgba(255, 255, 255, 0.85);
    --card-border: rgba(214, 29, 152, 0.328);
    --card-shadow: rgba(225, 29, 72, 0.04);

    /* Типографика */
    --text-main: #18181b;
    --text-color: #18181b;
    --text-secondary: #71717a;
    --text-accent: #e11d48;
    --text-hover: #be123c;
    --glow-color: rgba(225, 29, 72, 0.2);
    --heading-color: #09090b;
    --links-color: #e11d48;

    --time-color: #b894adba;

    /* Кнопки и поля ввода */
    --btn-bg: rgba(255, 255, 255, 0.9);
    --btn-change-bg: #ffe4e6;
    --input-bg: #ffffff;
    --sidebar-bg: #ffffff;
    --sidebar-text: #18181b;

    --task-text: #18181b;

    --button-color: #166534;
    --button-bg: #dcfce7;
    --chart-bg: #e053a39b;
}