.header {
    margin: 10px auto 0 auto;
    border-radius: 35px;
    padding: 20px;
    width: 92%;
    display: flex;
    align-items: center;
}

.header__list1 {
    display: flex;
    list-style: none;
    color: #d70668;
}

.header__list2 {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: auto 0 auto auto;
}

.main_Thing {
    width: auto !important;
    min-width: 240px;
    padding: 13px 22px !important;
    border-radius: 14px;
    transition: 0.25s ease;
    font-size: 12px;
    color:var(--text-color);
}

.main_Thing:hover {
    transform: translateY(-3px);
}