<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ошибка страницы</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div class="info">
            <h1>Упс...</h1>
            <p>Страница находится в разработке</p>
            <p>Совсем скоро все будет работать</p>
            <a href="{{url_for('login')}}" class="lighttext heading">Войти в аккаунт</a>
        </div>
    </body>
</html>