<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Основная страница</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <header class="header">
            <ul class="header__list1">
                <li>
                    <p>sinus ^_^</p>
                </li>
            </ul>
            <ul class="header__list2">
                <li>
                    <a href="/" class="lighttext">курсы и тарифы</a>
                </li>
                <li>
                    <a href="{{url_for('profile')}}" class="lighttext">профиль</a>
                </li>
            </ul>
        </header>
        <div class='time' id="time"></div>
        <ul class="main">
            <li class="firstColumn">
                <div class="studentsProfile lightBox">
                    <div id="greeting" class="heading"></div>
                    <img src="{{url_for('static',filename='images/studentsphoto.jpg')}}" style="width:250px; border-radius:35px;">
                    <p style="color:rgb(215, 173, 195);text-shadow:0 0 20px rgb(205, 10, 108);">Цель: {{goal}}</p>
                </div>
                <div class="rate lightBox">
                    <p>Тариф: pro</p>
                    <a class="lighttext" style="text-decoration: underline;">Повысить</a>
                </div>
            </li>
            <li class="secondColumn lightBox">
                <p class="heading">Чем займемся сегодня?</p>
                <ul class="toDo">
                <li><a href="{{url_for('tasks')}}"  class="lighttext">Банк задач</a></li>
                <li><a href="tests.html" class="lighttext">Варианты</a></li>
                <li><a href="{{url_for('mistakes')}}"   class="lighttext">Работа над ошибками</a></li>
                <li></li>
                </ul>
            </li>
            <li class="thirdColumn lightBox">
                <p  class="heading">Достижения</p>
                <ul class="toDo">
                    <li><a>0 дней нарешки</a></li>
                    <li><a>0 задач решено</a></li>
                    <li><a>0 правильных задач</a></li>
                    <li><a>правильность:100%</a></li>
                    </ul>
            </li>
        </ul>
        <script src="{{url_for('static',filename='scripts.js')}}"></script> 
    </body>
</html>