<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Вход</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <h1 class="questions">вход</h1>
        <form method="POST">
            <div class="logButtons">
                <input class="buttons lightBox logProfile" type="text" name="username" placeholder="Логин">
                <input class="buttons lightBox logProfile" type="password" name="password" placeholder="Пароль">
                <button class="enterButton lightBox"   type="submit">Войти</button>
            </div>
        </form>
        {% if error %}
        <div class="toast" id="toast">
            <p class="error">{{ error }}</p>
        </div>
        {% endif %}
        <a href="{{ url_for('register')}}" class="createAccount">Создать аккаунт?</a>
        <div class="bottom-bar header">
            <ul class="bottom-bar-list">
                <li class="myLinks">
                    <a href="{{ url_for('project') }}">О проекте</a>
                    <a href="{{url_for('error')}}">Обо мне</a>
                </li>
                <li>2026</li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
</html>