<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Работа над ошибками</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <header class="header" style="width:80%;">
            <ul class="header__list1">
                <li>
                    <p class="classification main_Thing">sinus ^_^</p>
                </li>
            </ul>
            <ul class="header__list2">
                <li>
                    <a href="{{url_for('error')}}" class="lighttext main_Thing">о проекте</a>
                </li>
                <li>
                    <a href="{{url_for('profile')}}" class="lighttext main_Thing">профиль</a>
                </li>
            </ul>
        </header>
        {% if tasks %}
            <h2 class="heading h2heading">Работа над ошибками</h2>
            {% for task in tasks %}
                <div class="task">
                    <div class="tasksClasses">
                        <p class="classification">#{{task['id']}}</p>
                        <p class="classification">#Номер задания:{{task['number']}}
                        <p class="classification">#{{task['source']}}</p>
                    </div>
                    <p class="taskText">{{task['text']}}</p>
                    <div class="phoneButtons">
                        <input id="input-{{ task['id'] }}" class="lightBox buttons" placeholder="ответ">
                        <button onclick="checkAnswer({{ task['id'] }})" class="lightBox buttons">Проверить</button>
                    </div>
                    <p id="result-{{task['id']}}"
                    class="answers {% if task['status']=='correct' %}
                        green
                    {% elif task['status']=='wrong' %}
                        red
                    {% else %}
                        white
                    {% endif %}">
                        {{task['status']}}
                    </p>
                </div>
            {% endfor %}
        {%else%}
            <div class="noMistakes">
                <p class="heading">ошибок пока нет!</p>
                <ul class="toDo" style="text-align: center;">
                    <li><a href="{{url_for('tasks')}}" class="lighttext">Банк задач</a></li>
                    <li><a href="/" class="lighttext">Варианты уровня ЕГЭ</a></li>
                    <li><img src="{{url_for('static', filename='images/mascot/runningMascot.png')}}" style="width:30%"></li>
                </ul>
            </div>
        {%endif%}
        <ul class="smallInfo">
            <li><a href="https://t.me/karznl">Телеграмм-канал</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Контакты</a></li>
            <li><a href="/">Поддержка</a></li>
            <li><a href="/">Политика конфиденциальности</a></li>
            <li>2026</li>
        </ul>
        <div class="sidebar" id="sidebar">
            <a href="{{url_for('error')}}" class="name">настя синус</a>
            <ul class="listThings">
                <li><a href="{{url_for('home')}}" class="lighttext">Основная страница</a></li>
                <li><a href="{{url_for('tasks')}}" class="lighttext">Банк заданий</a></li>
                <li><a href="{{url_for('error')}}" class="lighttext">Варианты уровня ЕГЭ</a></li>
                <li><a href="{{url_for('mistakes')}}" class="lighttext">Работа над ошибками</a></li>
                <li><a href="{{url_for('statistics')}}" class="lighttext">Статистика</a></li>
                <li><a href="{{url_for('logout')}}" class="lighttext">Выход</a></li>
                <li></li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
    </body>
</html>