<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div class="registration">
            <h1 class="questions">регистрация</h1>
            <form method="POST">
                <div class="logButtons">
                    <input class="buttons lightBox logProfile" name="username" placeholder="логин" type="text">
                    <input class="buttons lightBox logProfile" name="password" type='password' placeholder="пароль">
                    <button class="enterButton lightBox" type="submit">регистрация</button>
                </div>
            </form>
            <a href="{{url_for ('login',filename='login.html')}}" class="createAccount">Уже есть аккаунт?</a>
        </div>
        {% if error %}
            <div class="toast" id="toast">
                <p class="error">{{ error }}</p>
            </div>
        {% endif %}
        <div class="bottom-bar header">
            <ul class="bottom-bar-list">
                <li class="myLinks headline">
                    <a href="/">О проекте</a>
                    <a href="/">Обо мне</a>
                </li>
                <li>2026</li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
</html>