<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Регистрация</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div class="login">
            <h1 class="questions">регистрация</h1>
            <form method="POST">
                <div class="logButtons">
                    <input class="buttons lightBox logProfile" name="username" placeholder="логин" type="text">
                    <input class="buttons lightBox logProfile" name="password" type='password' placeholder="пароль">
                    <a href="{{url_for ('login',filename='login.html')}}" class="createAccount main_Thing">Уже есть аккаунт?</a>
                    <button class="enterButton lightBox" type="submit">регистрация</button>
                </div>
            </form>
        </div>
        {% if error %}
            <div class="toast" id="toast">
                <p class="error">{{ error }}</p>
                <img src="{{url_for('static', filename='images/mascot/errorMascot.png')}}" class="mascot">
            </div>
        {% endif %}
        <ul class="smallInfo">
            <li><a href="https://t.me/karznl">Телеграмм-канал</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Контакты</a></li>
            <li><a href="/">Поддержка</a></li>
            <li><a href="/">Политика конфиденциальности</a></li>
            <li>2026</li>
        </ul>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
</html>