<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Статистика</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <div id="contacts" style="display: none; width:50%;height:50%" class="modal">
            <span onclick="closeContacts()">&times;</span>
            <p class="main_Thing questions">почта: anastasiyakreslina@gmail.com</p>
            <p class="main_Thing questions">телеграмм: @krazern</p>
            <p class="main_Thing questions">Время ответа: 1-2 дня</p>
            <p class="main_Thing questions">Отвечаю исключительно на вопросы о платформе, предложения, сообщения об ошибке и отзывы</p>
            <p class="main_Thing questions">^_^</p>
        </div>
        <header class="header" style="width:80%">
            <ul class="header__list1">
                <li>
                    <p class="classification main_Thing">sinus ^_^</p>
                </li>
            </ul>
            <ul class="header__list2">
                <li>
                    <a href="{{url_for('error')}}" class="lighttext main_Thing">о проекте</a>
                </li>
                <li>
                    <a href="{{url_for('profile')}}" class="lighttext main_Thing">профиль</a>
                </li>
            </ul>
        </header>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="task">
            <p class="main_Thing">Цель: {{goal}}</p>
            <p class="main_Thing">Решено задач: {{solved_count}}</p>
            <p class="main_Thing">Решено верно: {{correct}}</p>
            <p class="main_Thing">Процент правильности: {{percent}}%</p>
        </div>
        <div class="task">
            <canvas id="Chart"></canvas>
        </div>
        <div class="task">
            <canvas id="firstTryChart"></canvas>
        </div>
        <div class="sidebar" id="sidebar">
            <a href="{{url_for('error')}}" class="name">настя синус</a>
            <ul class="listThings">
                <li><a href="{{url_for('home')}}" class="lighttext">Основная страница</a></li>
                <li><a href="{{url_for('tasks')}}" class="lighttext">Банк заданий</a></li>
                <li><a href="{{url_for('error')}}" class="lighttext">Варианты уровня ЕГЭ</a></li>
                <li><a href="{{url_for('mistakes')}}" class="lighttext">Работа над ошибками</a></li>
                <li><a href="{{url_for('statistics')}}" class="lighttext">Статистика</a></li>
                <li><a href="{{url_for('logout')}}" class="lighttext">Выход</a></li>
                <li></li>
            </ul>
        </div>
        <ul class="smallInfo">
            <li><a href="https://t.me/karznl">Телеграмм-канал</a></li>
            <li><a href="/">FAQ</a></li>
            <li><button class="textButton buttons" onclick="openContacts()">Контакты</button></li>
            <li><a href="/">Поддержка</a></li>
            <li><a href="{{url_for('privacypolicy')}}">Политика конфиденциальности</a></li>
            <li>2026</li>
        </ul>
        <script>
            const numbers={{ numbers | tojson }};
            const percents={{ percents | tojson }};
            const first_attempts_numbers={{ first_attempts_numbers | tojson }};
            const first_attempts_percents={{ first_attempts_percents | tojson }};
        </script>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
</html>