<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>База заданий</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    </head>
    <body>
        <header class="header" style="width:80%; margin-left:45px;">
            <ul class="header__list1">
                <li>
                    <p class="classification main_Thing">sinus ^_^</p>
                </li>
            </ul>
            <ul class="header__list2">
                <li>
                    <a href="{{url_for('error')}}" class="lighttext main_Thing">о проекте</a>
                </li>
                <li>
                    <a href="{{url_for('profile')}}" class="lighttext main_Thing">профиль</a>
                </li>
            </ul>
        </header>
        <form method="GET" action="{{url_for('tasks')}}" class="filterForm">
            <label style="font-size:12px; margin: auto 0 auto 0">Фильтр по номеру задания:</label>
            <div class="filterButtons">
                <select name="number" class="buttons lightBox main_Thing">
                    <option value="">Все</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                </select>
                <button type="submit" class="buttons lightBox main_Thing">Применить фильтр</button>
            </div>
        </form>
        <form method="GET" action="{{url_for('tasks')}}" class="filterForm">
            <div class="filter_labels">
                <label style="font-size:12px;">Поиск по ID:</label>
                <label class="heading" style="font-size:10px;">ID задания - первое число сверху каждого задания</label>
            </div>
            <div class="filterButtons">
                <input type="number" name="task_id" class="lightBox buttons main_Thing" placeholder="ID">
                <button type="submit" class="buttons lightBox main_Thing">Найти задание</button>
            </div>
        </form>
        
        {% if session.get('role')=='admin' %}
            <a href="{{url_for('add_task')}}" class="buttons lightBox add_Task main_Thing">Добавить задачу</a>
        {%endif%}
        {% for task in tasks %}
            <div class="task">
                <div class="tasksClasses">
                    <p class="classification">#{{task['id']}}</p>
                    <p class="classification">#Номер задания:{{task['number']}}
                    <p class="classification">#{{task['source']}}</p>
                </div>
                <p class="taskText">{{task['text']}}</p>
                <div class="phoneButtons">
                    <input id="input-{{ task['id'] }}" class="lightBox buttons main_Thing" placeholder="ответ">
                    <button onclick="checkAnswer({{ task['id'] }})" class="lightBox buttons main_Thing">Проверить</button>
                </div>
                <p id="result-{{task['id']}}"
                class="answers {% if task['status']=='Правильно!' %}
                    green
                {% elif task['status']=='Неправильно!' %}
                    red
                {% else %}
                    white
                {% endif %}">
                    {{task['status']}}
                </p>
                <details
                    id="solution-{{ task['id'] }}"
                    {% if task['status'] != 'Правильно!' and task['status'] != 'Неправильно!' %}
                        style="display:none;"
                    {% endif %}>
                    <summary class="main_Thing">Решение задачи</summary>
                    <p class="taskText">{{ task['solution'] }}</p>
                </details>
                {% if session.get('role')=='admin' %}
                    <form method="POST" action="{{url_for('delete_task', task_id=task['id'])}}">
                        <button class="buttons lightBox main_Thing" type="submit">удалить задание</button>
                    </form>
                {%endif%}
            </div>
        {% endfor %}
        <ul class="smallInfo">
            <li><a href="https://t.me/karznl">Телеграмм-канал</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Контакты</a></li>
            <li><a href="/">Поддержка</a></li>
            <li><a href="/">Политика конфиденциальности</a></li>
            <li>2026</li>
        </ul>
        <div class="sidebar" id="sidebar">
            <a href="{{url_for('error')}}" class="name">настя синус</a>
            <ul class="listThings">
                <li><a href="{{url_for('home')}}" class="lighttext">Основная страница</a></li>
                <li><a href="{{url_for('tasks')}}" class="lighttext">Банк заданий</a></li>
                <li><a href="{{url_for('error')}}" class="lighttext">Варианты уровня ЕГЭ</a></li>
                <li><a href="{{url_for('mistakes')}}" class="lighttext">Работа над ошибками</a></li>
                <li><a href="{{url_for('statistics')}}" class="lighttext">Статистика</a></li>
                <li><a href="{{url_for('logout')}}" class="lighttext">Выход</a></li>
                <li></li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='scripts.js')}}"></script>
    </body>
</html>