<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Варианты</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/theme.js') }}" defer></script>
    </head>
    <body>
        <header class="header" style="width:80%">
            <ul class="header__list1">
                <li>
                    <p class="classification main_Thing">sinus ^_^</p>
                </li>
            </ul>
            <ul class="header__list2">
                <li>
                    <a href="{{url_for('main.about')}}" class="lighttext main_Thing">о проекте</a>
                </li>
                <li>
                    <a href="{{url_for('auth.profile')}}" class="lighttext main_Thing">профиль</a>
                </li>
            </ul>
        </header>
        <form action="/generate_var">
            <button type="submit" class="buttons lightbox add_Task main_Thing">сгенерировать вариант</button>
        </form>
        <div class="sidebar" id="sidebar">
            <a href="{{url_for('main.error')}}" class="name">настя синус</a>
            <ul class="listThings">
                <li><a href="{{url_for('main.home')}}" class="lighttext sidebar_text">Основная страница</a></li>
                <li><a href="{{url_for('tasks.tasks')}}" class="lighttext sidebar_text">Банк заданий</a></li>
                <li><a href="{{url_for('tasks.tests')}}" class="lighttext sidebar_text">Варианты уровня ЕГЭ</a></li>
                <li><a href="{{url_for('tasks.mistakes')}}" class="lighttext sidebar_text">Работа над ошибками</a></li>
                <li><a href="{{url_for('tasks.statistics')}}" class="lighttext sidebar_text">Статистика</a></li>
                <li><a href="{{url_for('auth.logout')}}" class="lighttext sidebar_text">Выход</a></li>
                <li></li>
            </ul>
        </div>
        <script src="{{url_for('static',filename='js/ui.js')}}"></script>
        <script src="{{url_for('static',filename='js/tasks.js')}}"></script>
    </body>
</html>